<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions pour l'accès internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permissions pour l'accès réseau -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permissions pour l'accès au GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:configChanges="uiMode"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/voiture"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/voiture"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- Clé API pour l'accès au GPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBlOh1dH_bYPYABqrKDz68kLlv8SsyojyI" /> <!-- Fait de la landing page la page d'ouverture -->
        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- C'est l'activity du login -->
        <activity android:name=".LoginActivity" /> <!-- C'est la MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>